<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Commande n°{{this.order.id}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-card>
        <ion-card-header>
          Produit n°{{item.product.id}}
        </ion-card-header>

        <ion-card-content>
          Quantité : {{item.quantity}}
        </ion-card-content>
      </ion-card>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.id}}</b>
  </div>
</ion-content>
