<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste des tournées</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-header>
                Tournée {{item.id}}
              </ion-card-header>
              <ion-card-content>
                <span *ngIf="item.etat === 0">A faire</span>
                <span *ngIf="item.etat === 1">Terminée</span>
              </ion-card-content>
            </ion-col>
            <ion-col text-right padding="10px">
              <ion-icon class="big-icon" *ngIf="item.etat === 0" name="warning"></ion-icon>
              <ion-icon class="big-icon" *ngIf="item.etat === 1" name="checkmark-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.id}}</b>
  </div>
</ion-content>
