<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste des tournées</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-card>
        <ion-card-header>
          Tournée {{item.id}}
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.id}}</b>
  </div>
</ion-content>
