<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Tournée n°{{tour.id}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of tour.packages" (click)="itemTapped($event, item)">
      <ion-card>
        <ion-card-header>
          Colis {{item.id}}
        </ion-card-header>
        <ion-card-content>
          <ul>
            <li>
              Commande n°{{item.orderId}}
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
    </button>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="startNavigation()" ion-fab>
      <ion-icon name="navigate"></ion-icon>
    </button>
  </ion-fab>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.id}}</b>
  </div>
</ion-content>
